.dashboard-page {
  padding-bottom: 100px;
  background-color: #fcfcfa; }
  @media (max-width: 1200px) {
    .dashboard-page {
      padding-bottom: 60px; } }
  @media (max-width: 800px) {
    .dashboard-page {
      padding-bottom: 60px; } }
  @media (max-width: 450px) {
    .dashboard-page {
      padding-bottom: 30px; } }
  .dashboard-page .hero {
    background-image: url("./img/hero-background.svg"), linear-gradient(to right, #1d3f82, #1d2d82);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 250px, cover;
    padding-bottom: 250px;
    width: 100%; }
    @media (max-width: 1200px) {
      .dashboard-page .hero {
        background-size: 100% 120px, cover; } }
    @media (max-width: 800px) {
      .dashboard-page .hero {
        background-image: linear-gradient(to right, #1d3f82, #1d2d82);
        background-size: cover;
        background-repeat: no-repeat;
        padding-bottom: 20px; } }
  .dashboard-page .hero__wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 95%; }
  .dashboard-page header {
    padding: 30px 40px; }
    @media (max-width: 800px) {
      .dashboard-page header {
        padding: 20px 25px; } }
  .dashboard-page header .logo {
    width: 230px;
    margin-bottom: 40px; }
    @media (max-width: 1200px) {
      .dashboard-page header .logo {
        width: 180px; } }
    @media (max-width: 800px) {
      .dashboard-page header .logo {
        width: 120px; } }
