body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

.button {
  font-family: 'Montserrat', sans-serif;
  padding: 18px 20px 20px;
  background-color: #d68c21;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.165em;
  cursor: pointer;
  border: 0;
  margin: 0 5px;
  display: inline-block;
  text-decoration: none;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out; }
  .button:hover {
    background-color: #aa6f1a; }
  @media screen and (max-width: 450px) {
    .button {
      letter-spacing: 0.1em;
      font-size: 9px;
      padding: 12px 10px 11px; } }
  .button--wide {
    padding: 18px 70px 20px; }
  .button--ghost {
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 12px 19px 13px;
    font-size: 11px;
    font-weight: 400; }
    @media (max-width: 800px) {
      .button--ghost {
        font-size: 9px;
        padding: 10px 9px 11px; } }
    @media (max-width: 450px) {
      .button--ghost {
        font-size: 9px;
        padding: 8px 11px 9px; } }
    .button--ghost:hover {
      background-color: #ffffff;
      color: #1d3f82; }
  .button--disabled, .button:disabled {
    background-color: #75665d;
    color: #d4d3da; }
    .button--disabled:hover, .button:disabled:hover {
      background-color: #75665d;
      cursor: default; }

@media (max-width: 800px) {
  .desktop {
    display: none; } }

.mobile {
  display: none; }
  @media (max-width: 800px) {
    .mobile {
      display: initial; } }
