.ranking {
  max-width: 1000px;
  padding: 50px 80px 90px;
  margin: 30px auto 0;
  @media (max-width: 800px) {    
    padding: 30px 20px 50px;
    margin: 0 auto 0;
  }
  @media (max-width: 450px) {    
    padding: 15px 10px 30px;
    margin: 0 auto 0;
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: .02em;
    text-align: center;
    color: #1d3f82;
    margin-bottom: 60px;
    @media (max-width: 1200px) {
      font-size: 32px;
    }
    @media (max-width: 800px) {
      font-size: 28px;
    }
  }
  .rankings--empty {
    font-style: italic;
    color: #adadad;
    text-align: center;
    padding: 40px 0;
    letter-spacing: .04em;
  }
  .rankings__rank, .rankings__team {
    text-align: left;
    cursor: pointer;
  }
  .rankings__team input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #84adef;
    font-size: 16px;
    outline: none;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    @media (max-width: 800px) {
      width: calc(100% - 25px);
      font-size: 13px;
    }
  }
  .team__edit {
    background: none;
    border: 0;
  }
  .edit__img {
    width: 14px;
    height: 14px;
    margin-right: 8px;
  }
  .team__save {
    width: 13px;
    height: 13px;
    margin-right: 8px;
  }

  table {
    width: 100%;
  }
  thead th {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .03em;
    color: #8e8ea0;
    padding: 0 5px 15px;
    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }
  th, td {
    padding: 10px 5px;
    text-align: center; 
    font-size: 16px;
    line-height: 1.7em;
    @media (max-width: 800px) {
      font-size: 13px;
    }
  }
  .rank {
    width: 38px;
    height: 38px;
    border-radius: 30px;
    background-color: #cacede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff;
    @media (max-width: 1200px) {
      font-size: 14px;
      width: 38px;
      height: 38px;  
    }
    @media (max-width: 800px) {
      font-size: 12px;
      width: 30px;
      height: 30px;  
    }
  }
  .rankings__won { color: #487c37 }
  .rankings__drawn { color: #20358e }
  .rankings__lost { color: #d34040 }

  .rankings__won, .rankings__drawn, 
  .rankings__lost, .rankings__played { min-width: 30px }
  .score-bar__container { 
    width: 150px;
    margin-left: 5px;
    @media (max-width: 1200px) {
      width: 110px;
    }
    @media (max-width: 800px) {
      width: 80px;
    }
    @media (max-width: 450px) {
      width: 50px;
    }
  }
  .ranking__score-bar { background: #e69d21; height: 20px;}
}