.ranking {
  max-width: 1000px;
  padding: 50px 80px 90px;
  margin: 30px auto 0; }
  @media (max-width: 800px) {
    .ranking {
      padding: 30px 20px 50px;
      margin: 0 auto 0; } }
  @media (max-width: 450px) {
    .ranking {
      padding: 15px 10px 30px;
      margin: 0 auto 0; } }
  .ranking h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: .02em;
    text-align: center;
    color: #1d3f82;
    margin-bottom: 60px; }
    @media (max-width: 1200px) {
      .ranking h2 {
        font-size: 32px; } }
    @media (max-width: 800px) {
      .ranking h2 {
        font-size: 28px; } }
  .ranking .rankings--empty {
    font-style: italic;
    color: #adadad;
    text-align: center;
    padding: 40px 0;
    letter-spacing: .04em; }
  .ranking .rankings__rank, .ranking .rankings__team {
    text-align: left;
    cursor: pointer; }
  .ranking .rankings__team input {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #84adef;
    font-size: 16px;
    outline: none;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif; }
    @media (max-width: 800px) {
      .ranking .rankings__team input {
        width: calc(100% - 25px);
        font-size: 13px; } }
  .ranking .team__edit {
    background: none;
    border: 0; }
  .ranking .edit__img {
    width: 14px;
    height: 14px;
    margin-right: 8px; }
  .ranking .team__save {
    width: 13px;
    height: 13px;
    margin-right: 8px; }
  .ranking table {
    width: 100%; }
  .ranking thead th {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .03em;
    color: #8e8ea0;
    padding: 0 5px 15px; }
    @media (max-width: 1200px) {
      .ranking thead th {
        font-size: 12px; } }
  .ranking th, .ranking td {
    padding: 10px 5px;
    text-align: center;
    font-size: 16px;
    line-height: 1.7em; }
    @media (max-width: 800px) {
      .ranking th, .ranking td {
        font-size: 13px; } }
  .ranking .rank {
    width: 38px;
    height: 38px;
    border-radius: 30px;
    background-color: #cacede;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: #ffffff; }
    @media (max-width: 1200px) {
      .ranking .rank {
        font-size: 14px;
        width: 38px;
        height: 38px; } }
    @media (max-width: 800px) {
      .ranking .rank {
        font-size: 12px;
        width: 30px;
        height: 30px; } }
  .ranking .rankings__won {
    color: #487c37; }
  .ranking .rankings__drawn {
    color: #20358e; }
  .ranking .rankings__lost {
    color: #d34040; }
  .ranking .rankings__won, .ranking .rankings__drawn,
  .ranking .rankings__lost, .ranking .rankings__played {
    min-width: 30px; }
  .ranking .score-bar__container {
    width: 150px;
    margin-left: 5px; }
    @media (max-width: 1200px) {
      .ranking .score-bar__container {
        width: 110px; } }
    @media (max-width: 800px) {
      .ranking .score-bar__container {
        width: 80px; } }
    @media (max-width: 450px) {
      .ranking .score-bar__container {
        width: 50px; } }
  .ranking .ranking__score-bar {
    background: #e69d21;
    height: 20px; }
