.match-form h2 {
  text-align: center;
  color: white;
  margin-bottom: 30px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: .03em; }

.match-form table {
  width: 100%; }

.match-form tr.score td {
  text-align: center; }

.match-form tr.score td, .match-form tr.score td input {
  color: #ffffff;
  font-size: 80px;
  font-weight: 600;
  background: transparent;
  border: 0 solid;
  width: 210px;
  outline: none;
  height: 1.1em;
  padding-bottom: .1em; }
  @media (max-width: 1200px) {
    .match-form tr.score td, .match-form tr.score td input {
      font-size: 72px;
      width: 189px; } }
  @media (max-width: 800px) {
    .match-form tr.score td, .match-form tr.score td input {
      font-size: 52px;
      width: 136px; } }

.match-form tr.score td input::placeholder {
  color: #234f96; }

.match-form tr.score td.score__left,
.match-form tr.score td.score__left input {
  text-align: right; }

.match-form tr.score td.score__right,
.match-form tr.score td.score__right input {
  text-align: left; }

.match-form tr.score .score--empty {
  width: .7em;
  border-bottom: 1px solid #84adef; }

.match-form tr.players {
  height: 200px; }
  @media (max-width: 800px) {
    .match-form tr.players {
      height: 170px; } }
  @media (max-width: 1200px) {
    .match-form tr.players {
      height: 150px; } }

.match-form .players__caption {
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  letter-spacing: .1em;
  color: #ffffff; }
  @media (max-width: 1200px) {
    .match-form .players__caption {
      font-size: 20px; } }

.match-form tr.players ul {
  list-style-type: none;
  padding: 0;
  margin: 50px 0; }

.match-form tr.players ul li {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .04em;
  margin: 13px 0; }
  @media (max-width: 1200px) {
    .match-form tr.players ul li {
      font-size: 12px; } }

.match-form .players--left li {
  text-align: right; }

.match-form tr.players ul li.players--empty {
  font-style: italic;
  color: #84adef; }

.match-form .players__delete {
  background: none;
  border: none;
  padding: 4px 0; }

.match-form .players__delete img {
  width: 15px;
  height: 15px;
  margin-bottom: -3px;
  cursor: pointer; }

.match-form .players--left .players__delete img {
  margin-left: 9px; }

.match-form .players--right .players__delete img {
  margin-right: 9px; }

.match-form tr.actions input::placeholder {
  color: #84adef;
  font-style: italic; }

.match-form tr.actions input {
  padding: 10px 9px 12px;
  font-size: 14px;
  border: 0 solid;
  margin: 0 7px 0 0;
  letter-spacing: .05em;
  border-bottom: 1px solid #84adef;
  background-color: transparent;
  color: #ffffff;
  outline: none; }
  @media (max-width: 1200px) {
    .match-form tr.actions input {
      font-size: 12px;
      padding: 10px 9px 12px; } }
  @media (max-width: 800px) {
    .match-form tr.actions input {
      width: 100px;
      padding: 8px 9px 8px; } }
  @media (max-width: 450px) {
    .match-form tr.actions input {
      width: 80px;
      padding: 5px 9px 6px; } }

.match-form td.actions__matchmaker {
  text-align: center; }

.match-form td.actions__left {
  text-align: right; }

.match-form .player-form__container {
  display: inline-flex;
  align-items: center; }

.match-form .player-form__container .button {
  margin-right: 0; }

@media (max-width: 800px) {
  .match-form .player-form__add-button {
    font-size: 21px;
    padding: 3px 7px 4px 9px; } }

@media (max-width: 450px) {
  .match-form .player-form__add-button {
    font-size: 17px;
    padding: 3px 7px 4px 9px; } }

.match-form tr.submit {
  height: 190px;
  text-align: center; }
