.week-overview {
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.15);
  background-color: #2a4b7a;
  border-radius: 12px;
  width: 90%;
  max-width: 700px;
  padding: 45px 50px 100px;
  margin: -210px auto 0;
  @media (max-width: 800px) {
    padding: 45px 30px 85px;
    width: 100%;
    max-width: initial;
    border-radius: 0;
    margin: 0 auto;
  }
  h2 {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: .03em;
    text-align: center;
    color: #b9c1df;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .12em;
    margin-bottom: 50px;
    text-transform: uppercase;
    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }
  .overview__top {
    text-align: center;
    margin-bottom: 45px;
  }
  .overview__top .value {
    color: #ffffff;
    font-weight: 700;
    font-size: 32px;
    letter-spacing: .09em;
    margin-bottom: 7px;
    font-family: 'Open Sans', sans-serif;
    @media (max-width: 1200px) {
      font-size: 29px;
    }
  }
  .overview__bottom {
    display: flex;
    justify-content: space-between;
  }
  .caption {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1em;
    color: #b9c1df;
    text-align: center;
    line-height: 1.6em;
    @media (max-width: 1200px) {
      font-size: 12px;
    }
  }
  .overview__bottom .value {
    font-weight: 700;
    font-size: 17px;
    letter-spacing: .09em;
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    line-height: 1.4em;
    font-family: 'Open Sans', sans-serif;
    @media (max-width: 1200px) {
      font-size: 15px;
    }
    @media (max-width: 800px) {
      font-size: 13px;
    }
  }
  .overview__box {
    padding: 0 7px;
    width: 33%;
  }
}