
.notifications__container {
  width: 100%;
  position: fixed;
  top: 0  
}
.notifications {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  .notifications__notification {
    cursor: pointer;
    width: 100%;
    padding: 30px 40px 35px;
    background-image: linear-gradient(to right, #4a6fb6, #3459a0);
    letter-spacing: .03em;
    color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 800px) {
      padding: 20px 30px 25px;
    }
  }
  .notifications__notification--warning {
    background-color: #b63a37;
    background-image: linear-gradient(to right, #b63a37, #ab2f2c);
  }
}